@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

div {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

.user {
  position: fixed;
  top: 0;
  font-size: 20;
  font-weight: 400;
  background-color: white;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid black;
}

.message-list {
  margin-top: 50px;
  justify-content: center;
  width: 300px;
}

.user-logged-out {
  margin: 10px;
  margin-bottom: 30px;
  border-bottom-width: 1px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.message-block {
  display: flex;
  margin: 4px;
  justify-content: flex-start;
  text-decoration: none;
}

.message-image {
  border-radius: 50%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-block {
  color: black;
  justify-content: flex-start;
  width: 240px;
}

.message-header {
  font-weight: 400;
  font-size: 16px;
}

.message-image {
  height: 30px;
  width: 30px;
  padding: 4px;
}

.message-body {
  margin: 2px;
}