@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');

div {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}

.user-block {
  position: fixed;
  top: 0;
  width: 280px;
  display: flex;
  background-color: white;
  /* border-bottom: 1px solid black; */
  justify-content: space-between;
  padding: 14px 10px;
}

.user-content {
  font-size: 20;
  font-weight: 400;
}

.inbox-button {
  background-color: #fe9239;
  color: #f3f3f3;
  padding: 4px 12px;
  font-weight: 400;
  font-size: 12px;
  border-radius: 4px;
}

.button {
  text-decoration: none;
  outline-style: none;
  border-width: 0;
  cursor: pointer;
}

.inbox-button:hover {
  background-color: #fcaf70;
}

.inbox-button:active {
  background-color: #e06b0a;
}

.message-list {
  margin-top: 52px;
  justify-content: center;
  width: 300px;
}

.user-logged-out {
  margin: 10px;
  margin-bottom: 30px;
  border-bottom-width: 1px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.message-block {
  display: flex;
  padding: 4px;
  justify-content: flex-start;
  text-decoration: none;
  animation: bg-in 0.5s;
}

.message-block:hover {
  animation: bg-out 1s;
}

@keyframes bg-in {
  from {background-color: rgba(240, 239, 239, 0.795);}
  to {background-color: #fff;}
}

@keyframes bg-out {
  from {background-color: #fff;}
  to {background-color: rgba(240, 239, 239, 0.795);}
}

.message-image {
  border-radius: 50%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-block {
  color: black;
  justify-content: flex-start;
}

.message-header {
  font-weight: 400;
  font-size: 16px;
}

.message-image {
  height: 30px;
  width: 30px;
  padding: 4px;
}

.message-body {
  margin: 2px;
}